.title {
  margin-top: 1.5rem;
  text-align: center;
}

.paginator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  user-select: none;
}

.appTitle {
  font-family: "PT Sans", sans-serif;
  font-weight: "bold";
  color: #154661;
  cursor: pointer;
  user-select: none;
}

.appTitle:hover {
  color: #1f8615;
}
